.body {
  height: 100vh;
  position: relative;
}

.bodycontainer {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 100%;
  animation-name: slide;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

.namefield {
  position: absolute;
  right: 160px;
  top: 140px;
}

.namefield div {
  color: rgb(255, 255, 255);
  padding: 15px 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.name {
  font-size: 35px;
}

.field {
  font-size: 15px;
}

.callcontainer {
  position: absolute;
  right: 160px;
  top: 320px;
  padding: 15px;
  background-color: red;
  width: 295px;
}

.callcontainer div {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: start;
  padding-bottom: 5px;
  color: wheat;
  font-size: 12px;
}

.callcontainer p {
  font-style: italic;
  display: inline-block;
}

.principles {
  font-size: 20px;
  color: white;
  position: absolute;
  right: 30px;
  top: 420px;
  background-color: rgba(16, 5, 5, 0.3);
  padding: 40px;
  border: 1px solid white;
  font-weight: bold;
}

@keyframes slide {
  from {
    transform: translateY(-1000px);
  }

  to {
    transform: translateY(0px);
  }
}

/* 2560 PIXELS */

/* I was unable to set this res parameters */

/* 2560 PIXELS */

/* 1920 PIXELS */

@media screen and (min-width: 1919px) {
  .namefield {
    top: 240px;
  }

  .name {
    font-size: 45px;
  }

  .field {
    font-size: 20px;
  }

  .callcontainer {
    top: 420px;
    width: 380px;
  }

  .callcontainer div {
    font-size: 14px;
  }

  .principles {
    font-size: 25px;
    top: 520px;
  }
}

/* 1920 PIXELS */

/* 1366 PIXELS */

@media screen and (max-width: 1367px) {
  .namefield {
    top: 150px;
    right: 100px;
  }

  .field {
    font-size: 20px;
  }

  .callcontainer {
    top: 290px;
  }

  .principles {
    top: 385px;
    right: 60px;
  }
}

/* 1366 PIXELS */

/* PHONE */

@media screen and (max-width: 431px) {
  .bodycontainer div {
    left: 100px;
  }

  .name {
    width: 300px;
    text-align: center;
    font-size: 33px;
  }

  .field {
    width: 300px;
    font-size: 18;
    text-align: center;
  }

  .callcontainer {
    top: 330px;
  }

  .principles {
    text-align: center;
    top: 480px;
    width: 300px;
  }
}

@media screen and (max-width: 391px) {
  .bodycontainer div {
    left: 50px;
  }
  .namefield {
    top: 150px;
    right: 70px;
  }

  .name {
    width: 300px;
    text-align: center;
  }

  .field {
    width: 300px;
    font-size: 15;
    text-align: center;
  }

  .principles {
    text-align: center;
  }
}

/* PHONE */
