* {
  font-family: sans-serif;
}
.servicescontainer {
  height: 100vh;
}

.servicelist ul:nth-child(1) {
  background-color: rgb(6, 3, 3, 0.3);
  position: absolute;
  width: 300px;
  height: 250px;
  top: 130px;
  left: 340px;
  list-style: none;
  padding: 20px 0;
  text-align: center;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: service1;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

.servicelist ul:nth-child(2) {
  background-color: rgb(6, 3, 3, 0.3);
  position: absolute;
  width: 300px;
  height: 250px;
  top: 130px;
  left: 800px;
  list-style: none;
  padding: 20px 0;
  text-align: center;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: service2;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

.servicelist ul:nth-child(3) {
  background-color: rgb(6, 3, 3, 0.3);
  position: absolute;
  width: 300px;
  height: 250px;
  top: 445px;
  left: 340px;
  list-style: none;
  padding: 20px 0;
  text-align: center;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: service1;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

.servicelist ul:nth-child(4) {
  background-color: rgb(6, 3, 3, 0.3);
  position: absolute;
  width: 300px;
  height: 250px;
  top: 445px;
  left: 800px;
  list-style: none;
  padding: 20px 0;
  text-align: center;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: service2;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

.servicelist ul:hover {
  background-color: white;
  color: gray;
}

.servicelist li:hover {
  color: rgb(237, 15, 15);
  font-size: 20px;
}

.servicepopup {
  background-color: rgb(237, 10, 10, 0.3);
  position: absolute;
  width: 200px;
  height: 120px;
  bottom: 400px;
  left: 1215px;
  list-style: none;
  padding: 20px 0;
  text-align: center;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  padding-top: 35px;
  animation: dial 1s linear 2s;
}

@keyframes service1 {
  from {
    transform: translateX(-350px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes service2 {
  from {
    transform: translateX(-750px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes dial {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 1900pixels */

@media screen and (min-width: 1540px) {
  .servicelist ul:nth-child(1) {
    width: 400px;
    height: 300px;
    top: 160px;
    left: 390px;
  }

  .servicelist ul:nth-child(2) {
    width: 400px;
    height: 300px;
    top: 160px;
    left: 900px;
  }
  .servicelist ul:nth-child(3) {
    width: 400px;
    height: 300px;
    top: 600px;
    left: 390px;
  }
  .servicelist ul:nth-child(4) {
    width: 400px;
    height: 300px;
    top: 600px;
    left: 900px;
  }

  .servicepopup {
    background-color: rgb(237, 10, 10, 0.3);
    width: 180px;
    height: 120px;
    top: 250px;
    left: 1300px;
  }
}

@media screen and (min-width: 1915px) {
  .servicelist ul:nth-child(1) {
    width: 400px;
    height: 300px;
    top: 160px;
    left: 390px;
  }

  .servicelist ul:nth-child(2) {
    width: 400px;
    height: 300px;
    top: 160px;
    left: 1000px;
  }
  .servicelist ul:nth-child(3) {
    width: 400px;
    height: 300px;
    top: 600px;
    left: 390px;
  }
  .servicelist ul:nth-child(4) {
    width: 400px;
    height: 300px;
    top: 600px;
    left: 1000px;
  }

  .servicepopup {
    background-color: rgb(237, 10, 10, 0.3);
    width: 200px;
    height: 120px;
    top: 250px;
    left: 1700px;
  }
}

/* 1900 pixels */

/* FOR 1367 */

@media screen and (max-width: 1440px) {
  .servicepopup {
    width: 200px;
    height: 120px;
    bottom: 400px;
    left: 1155px;
    padding: 20px 0;
    top: 250px;
  }
}

/* FOR 1280 */

@media screen and (max-width: 1380px) {
  .servicepopup {
    width: 150px;
    height: 100px;
    bottom: 400px;
    left: 1010px;
    padding: 20px 0;
    top: 150px;
    font-size: 13px;
  }

  .servicelist ul:nth-child(1) {
    width: 250px;
    height: 215px;
    top: 110px;
    left: 340px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(2) {
    width: 250px;
    height: 215px;
    top: 110px;
    left: 750px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(3) {
    width: 250px;
    height: 215px;
    top: 405px;
    left: 340px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(4) {
    width: 250px;
    height: 215px;
    top: 405px;
    left: 750px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 1190px) {
  .servicepopup {
    width: 150px;
    height: 100px;
    bottom: 400px;
    left: 350px;
    padding: 20px 0;
    top: 315px;
    font-size: 13px;
  }

  .servicelist ul:nth-child(1) {
    width: 250px;
    height: 215px;
    top: 110px;
    left: 140px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(2) {
    width: 250px;
    height: 215px;
    top: 110px;
    left: 450px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(3) {
    width: 250px;
    height: 215px;
    top: 405px;
    left: 140px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(4) {
    width: 250px;
    height: 215px;
    top: 405px;
    left: 450px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 732px) {
  .servicepopup {
    width: 120px;
    height: 80px;
    bottom: 400px;
    left: 200px;
    padding: 20px 0;
    top: 390px;
    font-size: 13px;
  }

  .servicelist ul:nth-child(1) {
    width: 200px;
    height: 150px;
    top: 210px;
    left: 30px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(2) {
    width: 200px;
    height: 150px;
    top: 210px;
    left: 280px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(3) {
    width: 200px;
    height: 150px;
    top: 505px;
    left: 30px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(4) {
    width: 200px;
    height: 150px;
    top: 505px;
    left: 280px;
    padding: 20px 0;
  }
}

/* PHONE */

@media screen and (max-width: 441px) {
  .servicelist ul:nth-child(1) {
    width: 180px;
    height: 140px;
    top: 250px;
    left: 20px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(2) {
    width: 180px;
    height: 140px;
    top: 250px;
    left: 220px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(3) {
    width: 180px;
    height: 140px;
    top: 455px;
    left: 20px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(4) {
    width: 180px;
    height: 140px;
    top: 455px;
    left: 220px;
    padding: 20px 0;
  }

  .servicepopup {
    width: 120px;
    height: 100px;
    bottom: 400px;
    left: 160px;
    padding: 20px 0;
    top: 80px;
    font-size: 13px;
  }
}

@media screen and (max-width: 391px) {
  .servicelist ul:nth-child(1) {
    width: 180px;
    height: 140px;
    top: 250px;
    left: 15px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(2) {
    width: 180px;
    height: 140px;
    top: 250px;
    left: 205px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(3) {
    width: 180px;
    height: 140px;
    top: 455px;
    left: 15px;
    padding: 20px 0;
  }

  .servicelist ul:nth-child(4) {
    width: 180px;
    height: 140px;
    top: 455px;
    left: 205px;
    padding: 20px 0;
  }

  .servicepopup {
    width: 120px;
    height: 100px;
    bottom: 400px;
    left: 160px;
    padding: 20px 0;
    top: 80px;
    font-size: 13px;
  }
}

/* PHONE */
