* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.navbar-body {
  background-image: url(assets/theme.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#darkMode {
  background-image: none;
  background-color: black;
}
